@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-height: 100vh;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.ladder-step.safe-haven {
    border-color: #fbbf24;
}

/* RTL Support */
[dir="rtl"] .ladder-step {
    border-left: 0;
}

[dir="rtl"] .ladder-step.safe-haven {
    border-right-width: 4px;
}
